        body {
            background-color: rgb(149, 27, 128);
            color: white;
            font-family: 'roboto';
            Font-Weight: Bold;
            text-align: center;
        }
        
        .titreprog {
            font-size: 1300%;
            margin-top: 15%;
        }
        
        p {
            margin-top: 6%;
            font-size: 40px;
        }
        
        img {
            width: 3em;
            margin-top: -6%;
            margin-left: 7%;
            position: relative;
        }